body
{
    margin: 0px;
    padding: 0px;
    background-color: red;
}
.main_container
{
    border:1px solid;
    header
    {
        border:1px solid;
        height: 105px;
        
        .row_one
        {
            border:1px solid;
            height: 40px;
        }
        

    
    }
}
